/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
* {
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

header, main {
	margin-left: 150px;
	margin-right: 150px;
}
header {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 151px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 30px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li img {
	width: 22px;
	height: 22px;
}

li:hover {
	color: #B1663C;
}

a {
    color: inherit;
    text-decoration: none;
}
#introduction {
	display: flex;
	align-items: center;
	gap: 72px;
	padding-left: 95px;
	padding-right: 95px;
}

#introduction img {
	display: block;
	width: 474px;
	height: 355px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 8.6875rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 3.1875rem;
}

/*** Styles apportés aux éléments aux boutons filtres JS  ***/
.filters {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 51px;
	height: 37px;
}

.filters button {
	border-radius: 60px;
	border: 1px solid #1D6154;
	color: #1D6154;
	background-color: #FFFEF8;
	font-family: syne;
	font-size: 1em;
	min-width: 100px;
	max-width: 198px;
	padding-left: 9px;
	padding-right: 11px;
}

.filters button:hover {
	color: #FFFFFF;
	background-color: #1D6154;
}
.gallery {
	width: 84%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	margin-bottom: 7px;

}
#contact {
	width: 50%;
	margin: auto;
	margin-top: 57px;
}
#contact > * {
	text-align: center;
}

#contact > p {
	font-size: 1rem;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 19px;
	display: flex;
	flex-direction: column;
	width: 84%;
	padding-left: 85px
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin-top: 12px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*** Login Page ***/
.login_title {
	text-align: center;
}

.login_form {
	margin-bottom: 355px
}

.login_form > #contact {
	margin-top: 0px;
}

.forget_passwordLink {
	text-decoration-line: underline;
}

/*** Style de la page Admin ***/
.banner {
	background-color: black;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner > i, .bannerPrg{
	color: #FFFFFF
}

.bannerPrg {
	margin-left: 11.42px;
}

.divMyProjects {
	display: flex;
	justify-content: center;
	width: 84%;
	margin-bottom: 92px;
}

.divMyProjects::before,  .divMyProjects::after {
	content:"";
	flex: 1;
}

.divMyProjects h2 {
	flex-grow: 0;
	padding-right: 31px;
	padding-left: 115px;
}

.divMyProjects i {
	padding-right: 11px;
}

.divMyProjects p {
	display: flex;
	align-items: center;
}

.divMyProjects p a {
	margin-top: 3px;
}
/*** Style de la modale ***/
#modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 30px;
	background-color: #FFF;
}

/*** Style des modales ***/
.icon-container-modalClose {
	display: flex;
	justify-content: flex-end;
}

#exitIcon {
	cursor: pointer;
}

.modal-title {
	text-align: center;
	font-size: 1.625rem;
}

.modalContent {
    display: grid;
    grid-template-columns: repeat(5, 78px);
    row-gap: 29.5px;
	column-gap: 10px;
	align-items: center;
	justify-content: center;
	margin-top: 46px;
}

.projectModal {
	position: relative;
	width: 78px;
}
.projectModal img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.fa-trash-can {
	position: absolute;
	font-size: 9px;
	top: 5px;
	right: 4.8px;
	cursor: pointer;
	color: white;
	background-color: black;
	padding: 4px 4.5px;
	border-radius: 2px;
}
.button-container {
	text-align: center;
	padding: 38px 38px 23px 38px;
	margin-top: 67.3px;
	margin-left: 70px;
	margin-right: 70px;
	border-top: 1px solid #B3B3B3;
}

#addPictureButton {
	padding: 10px 49px;
	border-radius: 60px;
	color: #FFFFFF;
	background-color: #1D6154;
	border: 2px solid #1D6154;
	font-family: Syne;
}